<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256327279083-tkmu0l8qm1tb7ppbbp7575gnf84t2r5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256327279083-tkmu0l8qm1tb7ppbbp7575gnf84t2r5p</string>
	<key>API_KEY</key>
	<string>AIzaSyDeMsKWHLlxojGzE7qG_XS_mI5pmj0JdB4</string>
	<key>GCM_SENDER_ID</key>
	<string>256327279083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AB.HajimeMusic</string>
	<key>PROJECT_ID</key>
	<string>hajimemusic-b8425</string>
	<key>STORAGE_BUCKET</key>
	<string>hajimemusic-b8425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256327279083:ios:876f51149d1136137879ae</string>
	<key>DATABASE_URL</key>
	<string>https://hajimemusic-b8425.firebaseio.com</string>
</dict>
</plist>